@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply tw-m-0 tw-p-0 tw-box-border;
}

body {
  font-family: 'Roboto', sans-serif;
  @apply tw-relative;

  button, input, label, textarea {
    font-family: 'Roboto', sans-serif;
    @apply tw-outline-0;

    &:focus-visible {
      @apply tw-outline-0;
    }
  }
}

.screen {
  @apply tw-h-screen tw-w-screen;
}

.bg-primary {
  background-color: #0DB8A8;
}

.bg-secondary {
  background-color: #ECF8EA;
}

.text-primary {
  color: #0DB8A8;
}

.text-secondary {
  color: #ECF8EA;
}

// https://icons8.com/icons/set/facebook

popup {
  @apply tw-absolute tw-z-10 tw-top-0 tw-left-0 tw-w-screen tw-h-screen;
  // TODO: Adapt background color to blur
  background-color: rgba(152, 152, 152, 0.54);
}

#toast-container {
  @apply tw-fixed tw-top-2 tw-right-5;
}
