@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply tw-m-0 tw-p-0 tw-box-border;
}

body {
  font-family: 'Roboto', sans-serif;

  button, input, label, textarea {
    font-family: 'Roboto', sans-serif;
    @apply tw-outline-0;

    &:focus-visible {
      @apply tw-outline-0;
    }
  }
}

.screen {
  @apply tw-h-screen tw-w-screen;
}

.bg-primary {
  background-color: #0DB8A8;
}

.bg-secondary {
  background-color: #ECF8EA;
}

.text-primary {
  color: #0DB8A8;
}

.text-secondary {
  color: #ECF8EA;
}

// https://icons8.com/icons/set/facebook
